body {
  position: relative;
  padding-top: 70px; }

.city-panel .city-map {
  width: 100%;
  height: 100%; }

/* General Style */
.list-item-group {
  position: relative;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border: 1px solid #ccc; }
  .list-item-group .list-item-group-cell {
    display: table-cell;
    padding: 0.375rem 0.75rem;
    width: 100%; }
  .list-item-group .list-item-group-addon {
    display: table-cell;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; }
  .list-item-group .list-item-group-addon:first-child,
  .list-item-group .list-item-group-cell:first-child {
    border-right: 1px solid #ccc; }
  .list-item-group .list-item-group-addon:not(:first-child):not(:last-child),
  .list-item-group .list-item-group-cell:not(:first-child):not(:last-child) {
    border-right: 1px solid #ccc; }

.list-item-group:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.list-item-group:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.list-item-group:not(:first-child):not(:last-child),
.list-item-group:first-child {
  border-bottom: 0; }

/* Vertical align row */
.valign-row {
  display: flex;
  align-items: center; }

.halign-row {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Loading icon and its container */
.loading {
  position: relative; }

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-overlay svg path,
  .loading-overlay svg rect {
    fill: #FF6700; }

/* General rules for two cards */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }
/* Air quality info */
.aqhi-col {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .aqhi-col .card-title {
    flex-grow: 1;
    text-align: center; }
  .aqhi-col .aqhi-side-container {
    flex-grow: 1;
    display: flex; }

.aqhi-head,
.temp-head,
.aqi-head {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 6rem; }

.aqi-head {
  font-size: 2.5rem;
  margin-bottom: 0; }

.aqi-title {
  font-size: 1rem; }

.aqi-head,
.aqi-title {
  text-align: center; }

.aqi-head + small {
  font-size: 50%; }

.aqhi-side-col {
  justify-content: space-between;
  margin-left: 0.5rem; }

.aqhi-title {
  font-size: 1.5rem; }

.aqhi-level {
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  min-width: 5rem;
  font-size: 1.5rem;
  margin-bottom: 0; }

.aqhi-level.aqhi-low {
  background-color: #00e400;
  border-color: #00e400; }

.aqhi-level.aqhi-moderate {
  background-color: #ff7e00;
  border-color: #ff7e00; }

.aqhi-level.aqhi-high {
  background-color: red;
  border-color: red; }

.aqhi-level.aqhi-very-high {
  background-color: #99004c;
  border-color: #99004c;
  color: #fff; }

.aqhi-level.aqhi-serious {
  background-color: #7e0023;
  border-color: #7e0023;
  color: #fff; }

.people-class {
  background-color: #818a91;
  color: #fff;
  padding: 0.25rem 0.6em;
  border-radius: 10rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0.2rem; }

.pollutant-header {
  font-size: 1.25rem; }

.pollutant-name {
  font-size: 1rem;
  width: auto; }

.pollutant-data {
  width: 100%; }

.quality-level,
.primary-pollutant-block,
.primary-pollutant-list li {
  display: inline-block; }

.pollutant-col .list-item-group-cell {
  text-align: right; }
  .pollutant-col .list-item-group-cell .label {
    margin-left: 1rem; }

.qlty-and-plt-block {
  display: flex;
  align-items: flex-end; }

.quality-level {
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0 0.6rem;
  min-width: 4rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem; }

.quality-level.qlty-excellent {
  background-color: #00e400;
  border-color: #00e400; }

.quality-level.qlty-good {
  background-color: yellow;
  border-color: yellow; }

.quality-level.qlty-lightly {
  background-color: #ff7e00;
  border-color: #ff7e00; }

.quality-level.qlty-moderately {
  background-color: red;
  border-color: red;
  color: #fff; }

.quality-level.qlty-heavily {
  background-color: #99004c;
  border-color: #99004c;
  color: #fff; }

.quality-level.qlty-severely {
  background-color: #7e0023;
  border-color: #7e0023;
  color: #fff; }

.aq-header {
  font-size: 0.9rem; }

.primary-pollutant-block {
  margin-left: 1rem; }

.primary-pollutant-list {
  margin-bottom: 0;
  padding-left: 0; }
  .primary-pollutant-list li {
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid black;
    padding: 0 0.6rem;
    margin-bottom: 0.2rem; }
  .primary-pollutant-list li:not(:first-child):not(:last-child) {
    margin-left: 0.3rem; }
  .primary-pollutant-list li.pol-co {
    background-color: #f4e781;
    border-color: #f4e781; }
  .primary-pollutant-list li.pol-no2 {
    background-color: #61a0a8;
    border-color: #61a0a8; }
  .primary-pollutant-list li.pol-o3 {
    background-color: #d48265;
    border-color: #d48265; }
  .primary-pollutant-list li.pol-o3_8h {
    background-color: #91c7aE;
    border-color: #91c7ae; }
  .primary-pollutant-list li.pol-pm10 {
    background-color: #749f83;
    border-color: #749f83; }
  .primary-pollutant-list li.pol-pm2_5 {
    background-color: #ca8622;
    border-color: #ca8622; }
  .primary-pollutant-list li.pol-so2 {
    background-color: #bda29a;
    border-color: #bda29a; }

/* Weather info */
.cur-weather-block i.wi {
  bottom: 0;
  right: -0.5rem;
  font-size: 2.5rem; }

.cur-weather-text {
  margin-bottom: 0.5rem; }

.next-day-weather-block {
  justify-content: space-between; }
  .next-day-weather-block i.wi {
    font-size: 2rem; }
  .next-day-weather-block .next-day-weather-col {
    margin-right: 0.3rem; }

.next-day-weather-data {
  margin-top: 0.5rem;
  width: 100%;
  justify-content: space-between; }

.next-day-weather-header {
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.1rem 0.6rem; }

.next-day-weather-header.night {
  background-color: #9b59b6;
  color: #f3eda3; }

.next-day-weather-header.day {
  background-color: #f3eda3;
  color: #9b59b6; }

.weather-update-time-text {
  margin-bottom: 0; }

.weekday-max-temp {
  margin-right: 0.8rem; }

.weekday-text {
  font-size: 1rem; }

.weekday-weather {
  justify-content: flex-end; }

.weekday-weather-text {
  margin-right: 0.8rem;
  font-size: 0.8rem; }

.weather-weekday-text {
  margin-left: 1rem; }

.weekday-temp-range {
  margin-right: 1.5rem; }

.hourly-weather-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 33.9em) {
    .hourly-weather-list {
      justify-content: flex-start; } }

.hourly-weather-item {
  margin-right: 2rem; }

.hourly-weather-time {
  margin-bottom: 1rem; }

.hourly-weather-temp {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem; }

/*# sourceMappingURL=home.css.map */
