<div class="container">
  <div class="row row-eq-height city-cards-row">

  <div class="col-xs-12 col-md-6">
  <div class="card air-condition-card">
    <div class="card-header">
      空气质量
      <p class="card-text air-condition-update-time-text pull-xs-right">
        <small class="text-muted">更新于 <span class="air-condition-update-time-data"></span></small>
      </p>
    </div>
    <div class="card-content loading">
      {% include 'pages/home_loader.html' %}
      <div class="card-block">
        <div class="container">

          <div class="row valign-row">
            <!-- AQHI data -->
            <h1 class="col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 card-title aqhi-main-col">
              <span class="aqhi-head"></span>
            </h1>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 col-xl-2 aqhi-side-col">
              <div class="halign-row">
                <h2 class="aqhi-title text-muted">AQHI</h2>
                <p class="aqhi-level"></p>
              </div>
            </div>
            <!-- Quality level, AQI and primary pollutants -->
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-6 col-xl-2 aqi-main-col">
              <p class="aqi-head"></p>
              <h2 class="aqi-title text-muted">AQI</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 col-xl-2 primary-pollutant-col">
              <p class="quality-level"></p>
              <!-- Primary Pollutant data list -->
              <ul class="primary-pollutant-list">
              </ul>
            </div>
          </div>

        </div>
      </div>

      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <div class="container">
            <h2 class="pollutant-header card-title">健康建议</h2>
            <div class="people-advice-text">
              {% comment %}
                <p class="card-text">
                  <span class="people-class">心脏病或呼吸系统疾病患者</span>
                  <span class="people-class">儿童及老人</span>
                  <br>应<strong>尽量减少</strong>户外体力消耗和户外逗留时间。
                </p>
                <p class="card-text">
                  <span class="people-class">户外工作人员</span>
                  <span class="people-class">一般市民</span>
                  <br>应<strong>减少</strong>户外体力消耗和户外逗留时间。
                </p>
              {% endcomment %}
            </div>
          </div>
        </li>

        <li class="list-group-item">
            <div class="container">

              <h2 class="pollutant-header card-title">各项污染物浓度</h2>

              <!-- Pollutant data -->
              <div class="row pollutant-row">
                <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-6">
                  <div class="pollutant-col">
                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-pm2_5">PM2.5</span>
                      <div class="list-item-group-cell pol-pm2_5">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-pm2_5"></span>
                          <span class="label label-default label-pill">1h</span>
                        </div>
                      </div>
                    </div>

                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-pm10">PM10</span>
                      <div class="list-item-group-cell pol-pm10">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-pm10"></span>
                          <span class="label label-default label-pill">1h</span>
                        </div>
                      </div>
                    </div>

                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-co">CO</span>
                      <div class="list-item-group-cell pol-co">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-co"></span>
                          <span class="label label-default label-pill">1h</span>
                        </div>
                      </div>
                    </div>

                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-no2">NO2</span>
                      <div class="list-item-group-cell pol-no2">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-no2"></span>
                          <span class="label label-default label-pill">1h</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-6">
                  <div class="pollutant-col">
                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-o3">O3</span>
                      <div class="list-item-group-cell pol-o3">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-o3"></span>
                          <span class="label label-default label-pill">1h</span>
                        </div>
                      </div>
                    </div>

                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-o3_8h">O3</span>
                      <div class="list-item-group-cell pol-o3_8h">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-o3_8h"></span>
                          <span class="label label-default label-pill">8h</span>
                        </div>
                      </div>
                    </div>

                    <div class="list-item-group">
                      <span class="list-item-group-addon pollutant-name pol-so2">SO2</span>
                      <div class="list-item-group-cell pol-so2">
                        <div class="pollutant-data-row">
                          <span class="pollutant-data pol-so2"></span>
                          <span class="label label-default label-pill pull-xs-right">1h</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="card-text pull-xs-right"><small class="text-muted">数值单位：μg/m3(CO为mg/m3)</small></p>
                </div>
              </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="col-xs-12 col-md-6">
  <div class="card weather-card">

    <div class="card-header">
      天气预报
      <p class="card-text weather-update-time-text pull-xs-right">
        <small class="text-muted">更新于 <span class="weather-update-time-data"></span></small>
      </p>
    </div>

    <div class="card-content loading">
      {% include 'pages/home_loader.html' %}
      <div class="card-block">
        <div class="container">
          <div class="row">

            <div class="col-lg-12 col-xl-6 cur-temp-col">
              <!-- Current temperature data -->
              <h1 class="temp-head-block">
                <span class="card-title temp-head">
                  <span class="temp-head-data"></span>º
                </span>
              </h1>
              <div class="cur-weather-block">
                <!-- Current weather text -->
                <div class="cur-weather-text"></div>
                <!-- Current weather icon -->
                <i class="wi"></i>
              </div>
            </div><!--
                Next day weather forecast: day and night
            --><div class="col-lg-12 col-xl-6">
              <div class="next-day-weather-row">
                <div class="next-day-weather-col">
                  <div class="next-day-weather-header"></div>
                  <div class="next-day-weather-data">
                    <i class="wi"></i>
                    <div class="next-day-weather-text"></div>
                  </div>
                </div>
                <div class="next-day-forecast-col">
                  <div class="next-day-weather-header"></div>
                  <div class="next-day-weather-data">
                    <i class="wi"></i>
                    <div class="next-day-weather-text"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Today weather forecast-->
        <li class="list-group-item">
          <div class="row today-weather-row">
            <div class="col-xs-6 today-weather-weekday-col">
              <p class="card-text today-weather-weekday-text"></p>
            </div>
            <div class="col-xs-6 today-temp-range">
              <span class="daily-max-temp today-max-temp"></span>
              <span class="daily-min-temp today-min-temp"></span>
            </div>
          </div>
        </li>

        <!-- Hoursly weather forecast-->
        <li class="list-group-item">
          <div class="scrollbar-macosx">
            <ul class="hourly-weather-list">
              {% comment %}
                <li class="hourly-weather-item halign-row">
                  <div class="hourly-weather-time"></div>
                  <div class="hourly-weather-temp"><span class="hourly-weather-temp-data"></span>º</div>
                </li>
              {% endcomment %}
            </ul>
          </div>
        </li>

        <li class="list-group-item weekday-weather-list">
          {# Template of list item is in function getNewDailyWeatherItem. #}
        </li>
      </ul>
    </div>

  </div>
  </div>

  </div>

  <div class="row city-charts-row">

    <div class="col-xs-12">
      <div class="card" id="city-map">
        <div class="card-header">
          监测点空气质量
        </div>
        <div class="card-content loading">
          {% include 'pages/home_loader.html' %}
          <div class="card-block city-chart-block">
            <div id="map-{{ city_en }}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="card" id="city-history">
        <div class="card-header">
          24小时历史趋势
        </div>
        <div class="card-content loading">
          {% include 'pages/home_loader.html' %}
          <div class="card-block city-chart-block">
            <div id="history-chart-{{ city_en }}"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

