{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jasmine test page for home.js</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'lib/jasmine-standalone-2.4.1/lib/jasmine-2.4.1/jasmine_favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/jasmine-standalone-2.4.1/lib/jasmine-2.4.1/jasmine.css'%}">
</head>
<body>
  <script type="text/javascript" src="{% static 'lib/jasmine-standalone-2.4.1/lib/jasmine-2.4.1/jasmine.js'%}"></script>
  <script type="text/javascript" src="{% static 'lib/jasmine-standalone-2.4.1/lib/jasmine-2.4.1/jasmine-html.js'%}"></script>
  <script type="text/javascript" src="{% static 'lib/jasmine-standalone-2.4.1/lib/jasmine-2.4.1/boot.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test_home.js' %}"></script>
</body>
</html>